<!-- /edit_picture_form/ -->

<h1>This is where you edit your pictures</h1>

You have chosen to edit picture #<%= params[:id]%>

<form action="http://localhost:3000/update_picture/<%= params[:id]%>">
  <div>

    <label for="the_caption">Caption:</label>
    <input id="the_caption" type="text" name="caption" value="<%=@picture_to_edit.caption%>">
  </div>

  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="source" value = "<%=@picture_to_edit.source%>">
  </div>

  <div>
    <input type="submit" value="Update Picture">
  </div>
</form>

