<!-- /picture_details/:id -->



<h1>This is the <%= @picture.caption %></h1>

<img width="200"src ="<%= @picture.source%>">


<p><a href="http://localhost:3000/edit_picture_form/<%= @picture.id %>">Edit</a></p>

<p><a href="http://localhost:3000/delete_picture/<%= @picture.id %>">Delete</a></p>

