<!-- /picture_details/:id -->

<h1>Picture Details ID# <%= params[:id] %></h1>

<img width="200"src ="<%= @picture.source%>">

<p>This is the <%= @picture.caption %></p>

<a href="http://localhost:3000/delete_picture/<%= @picture.id %>">Delete this picture</a>
